body {
  background:linear-gradient(to right, rgb(223, 223, 202), rgb(152, 192, 152));
  background-image: url(img/paisagemcoqueiro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
}


